<!-- <app-child-comp [arrayList]="userData" (childData)="ongetData($event)">
    <h1 #color>
        Dinesh Singh Mehra
    </h1>
    <h1 #color>
        Dinesh Singh Mehra
    </h1>
</app-child-comp> -->
<!-- <h1>---------------PARENT DATA-------------</h1>
<ul>
    <li *ngFor="let data of childEmitData">
        {{data.country}} {{data.number}}
    </li>
</ul>
<button (click)="onClick()">Fetch Data</button> -->

<!-- <div>
    <h1 appCustomDir defaultColor="red">Dinesh SIngh Mehra</h1>
</div> -->
<ng-template>
    Dinesh Singh Mehr
</ng-template>